jsonlines
streamlit
langchain
google-generativeai
PyPDF2
langchain_google_genai
langchain-community
faiss-cpu
umap-learn
qdrant-client
pymupdf
unidecode
langchain_google_genai
pypdf
langchain_openai
sentence_transformers
pillow
PyGithub
jq
pinecone-client 
langchain_pinecone 
lark
